
<aside >
        
    <nav *ngIf="isNurse">
     <a mat-button [routerLink]="'/users'" routerLinkActive="active"><mat-icon>home</mat-icon> Home </a>
     <a mat-button [routerLink]="'/guides'" routerLinkActive="active"><mat-icon>event_note</mat-icon> Availabilities </a>
      <a mat-button [routerLink]="'/admin/category'" routerLinkActive="active"><mat-icon>book</mat-icon> Preferences </a>
      <a mat-button [routerLink]="'/AdminOverride'" routerLinkActive="active"><mat-icon>account_circle</mat-icon> Profile </a>
    </nav>
    </aside>



    <aside  *ngIf="isHospi">

      <nav>
        <a mat-button [routerLink]="'/guideDashboard'" routerLinkActive="active"><mat-icon>home</mat-icon> Dashboard </a>
        <a mat-button [routerLink]="'/override'" routerLinkActive="active"><mat-icon>event_note</mat-icon> My Availability </a>
        <a mat-button [routerLink]="'/tour'" routerLinkActive="active"><mat-icon>library_books</mat-icon> My Tours </a>
        <a mat-button [routerLink]="'/myProfile'" routerLinkActive="active"><mat-icon>account_circle</mat-icon> My Profile </a>
      </nav>
      </aside>
